* {
  margin: 0;
  padding: 0;
}

body {
  /* width: calc(100vw - 32px); */
}

.App {
  width: 100%;
  height: calc(100vh - 32px);
}

form {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  padding: 16px;
  grid-row-gap: 20px;
}
.MuiList-root{
  overflow: autp;
}

.history-card {
  margin-bottom: 5px;
}
